.wd-input {
  .wd-input__value {
    border-radius: 16rpx;
    border: 1px solid #e8ebee;
    padding: 0 20rpx;
  }

  &::after {
    display: none;
  }
}

.wd-picker {
  .wd-picker__cell {
    padding: 0 !important;
  }

  .wd-picker__value-wraper {
    border: 1px solid #e8ebee;
    border-radius: 16rpx;
    padding: 10rpx 20rpx;

    .wd-icon {
      transform: rotate(90deg);
    }
  }
}

.wd-textarea {
  padding: 0 !important;

  .wd-textarea__value {
    border-radius: 16rpx;
    border: 1px solid #e8ebee;
    padding: 10rpx 20rpx !important;
  }
}