<?xml version="1.0" encoding="utf-8"?>  
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"   
  package="io.dcloud.nativeresouce">  
    <!--按下面方式配置需要移除的permissions-->  
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:node="remove"/>  
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:node="remove"/>  

    <application>  
        <!--meta-data-->  
    </application>  
</manifest>